@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';

$mainHeaderBg: #e4e4e4;
$topMenuUpperColor: #494f51;
$topMenuLowerColor: #fff;

#mainHeader {
  background-color: $mainHeaderBg;
  height: 650px;
}
.topMenu {
  margin: auto;
  width: 64%;
}
#topMenuUpper {
  background-color: $topMenuUpperColor;
  @include clearfix();
}
.orgItems {
  color: #fff;
  margin: 0;
  padding-left: 2%;
  list-style: none;
  float: left;
  width: 80%;
}
.siteItems {
  float: right;
  width: 20%;
  color: #fff;
  margin: 0;
  padding-left: 2%;
  list-style: none;
}
#topMenuUpper li:before {
  content: "• ";
  color: #b7b7b7;
  margin-right: 3%;
}
#topMenuUpper li.firstItem:before {
  content: " ";
  margin-right: 0;
}
#topMenuUpper li {
  float: left;
  margin-left: 1%;
}
#topMenuUpper li.firstItem {
  margin-left: 0;
  list-style-type: none;
}
#topMenuUpper li a {
  color: #fff;
}
li a:hover {
  cursor: pointer;
}
.seperaterGradient {
  height: 3px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#70c8de+0,66cd9c+30,ecbd47+68,ec784a+100 */
  background: #70c8de; /* Old browsers */
  background: -moz-linear-gradient(left, #70c8de 0%, #66cd9c 30%, #ecbd47 68%, #ec784a 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #70c8de 0%,#66cd9c 30%,#ecbd47 68%,#ec784a 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #70c8de 0%,#66cd9c 30%,#ecbd47 68%,#ec784a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70c8de', endColorstr='#ec784a',GradientType=1 ); /* IE6-9 */
}
#topMenuLower {
  background-color: $topMenuLowerColor;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 3px #ececec;
}
.mainNav {
  margin: auto;
  width: 62%;
}
