@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';

$mainHeaderBg: #e4e4e4;
$topMenuUpperColor: #494f51;
$topMenuLowerColor: #fff;

@mixin no-gutter {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
@mixin no-gutter-col {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
#mainHeader {
  background-color: $mainHeaderBg;
  height: 650px;
  position: relative;
  @include container-fixed();
  @include no-gutter-col;
}
.topMenu {
  margin: auto;
  width: 64%;
  @include make-row();
  @include container-fixed();
}
#topMenuUpper {
  background-color: $topMenuUpperColor;
  @include make-row();
  @include no-gutter();
}
.orgItems {
  color: #fff;
  margin: 0;
  padding-left: 2%;
  list-style: none;
  float: left;
  width: 80%;
}
.siteItems {
  float: right;
  width: 19%;
  color: #fff;
  margin: 0;
  list-style: none;
}
#topMenuUpper .siteItems li.firstItem {
  padding-right: 6%;
}
#topMenuUpper li:before {
  content: "• ";
  color: #b7b7b7;
  margin-right: 10px;
}
#topMenuUpper li.firstItem:before {
  content: " ";
  margin-right: 0;
}
#topMenuUpper li {
  float: left;
  padding-right: 2%;
}
#topMenuUpper li.firstItem {
  margin-left: 0;
  list-style-type: none;
}
#topMenuUpper li a {
  color: #fff;
}
li a:hover {
  cursor: pointer;
}
.seperaterGradient {
  @include make-row();
  @include no-gutter;
  height: 3px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#70c8de+0,66cd9c+30,ecbd47+68,ec784a+100 */
  background: #70c8de; /* Old browsers */
  background: -moz-linear-gradient(left, #70c8de 0%, #66cd9c 30%, #ecbd47 68%, #ec784a 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #70c8de 0%,#66cd9c 30%,#ecbd47 68%,#ec784a 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #70c8de 0%,#66cd9c 30%,#ecbd47 68%,#ec784a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70c8de', endColorstr='#ec784a',GradientType=1 ); /* IE6-9 */
}
#topMenuLower {
  background-color: $topMenuLowerColor;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 3px #ececec;
  float: left;
  width: 100%;
  @include make-row();
  @include no-gutter;
}
.logo {
  @include make-sm-column(5);
  @include no-gutter-col;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  float: left;
  a {
    color: #c8c6c6;
    text-decoration: none;
  }

}
.topMenuLowerSite {
  width: 56% !important;
  @include make-sm-column(6);
  @include no-gutter-col;
  .topMenuLowerSiteMenu {
    @include clearfix();
    margin-right: 2%;
    margin-top: 2%;
    li {
      float: left;
      margin-right: 5%;
      a {
        color: #c8c6c6;
        font-size: 15px;
        font-weight: bold;
      }
      .current {
        color: #868585;
      }
    }
    li:nth-child(2) {
      color: #edbf47;
    }
    li:nth-child(3) {
      color: #eb774b;
    }
    li:nth-child(4) {
      color: #6fc191;
    }
    li:nth-child(5) {
      color: #73cde3;
    }
    li:nth-child(6) {
      color: #eb774b;
    }
    li.firstItem {
      list-style: none;
    }
  }
}
.mainNav {
  @include make-row();
  @include container-fixed();
  @include no-gutter-col;
  position: absolute;
  bottom:0;
  left: 20%;
  background-color: #6fc191;
  height: 102px;
  width: 58%;
  border-top-left-radius:  5px;
  border-top-right-radius: 5px;
  ul {
    list-style: none;
    display: block;
    @include make-sm-column(12);
    @include no-gutter-col;
    li {
      @include make-sm-column(3);
      height: 102px;
      display: block;
      position: relative;
      a {
        color: #fff;
        text-decoration: none;
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 18%;
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-size: 24px;
        position: relative;
      }
      i {
        position: absolute;
        font-size: 130px;
      }
      .spyglass {
        color: #6ab78a;
        top: -55px;
        left: -18px;
      }
      .attention {
        color: #6fc4d9;
        top: -45px;
        left: -36px;
        font-size: 120px;
      }
      .music {
        color: #e0b74e;
        top: -53px;
        left: -30px;
      }
      .people {
        color: #df754d;
        top: -50px;
        left: -22px;
        font-size: 120px;
      }
    }
    li:nth-child(1) {
      background-color: #6fc191;
      border-top-left-radius: 5px;
      z-index: 5;
    }
    li:nth-child(2) {
      background-color: #73cde3;
      z-index: 4;
    }
    li:nth-child(3) {
      background-color: #edbf47;
      z-index: 3;
    }
    li:nth-child(4) {
      background-color: #eb774b;
      border-top-right-radius: 5px;
    }
  }
}
.activity {
  @include make-row();
  @include no-gutter;
  height: 760px;
  font-family: 'Montserrat', sans-serif;
  .activityList {
    height: 510px;
    margin-left: 21%;
    margin-top: 2%;
    header {
      @include make-row();
      @include no-gutter-col;
      color: #868585;
      h2 {
        margin-top: 0;
      }
      h4 {
        color: #b7b7b7;
      }
      .colorBar {
        width: 5%;
        height: 5px;
        background-color: #edbf47;
        display: block;
        border-radius: 5px;
      }
    }
    .activityEvent {
      @include make-row();
      margin-top: 3%;
      .event { //NO MORE NESTING!! >:(
        @include make-md-column(4);
        .eventIcon {
          width: 83px;
          height: 86px;
          background-color: #ecbd47;
        }
      }
    }
  }
}
